doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/build/style.css")
  body
    #app!= appHtml
    script.
      window._config = {
        contractAddress: '!{contractAddress}',
        infuraEndpoint: '!{infuraEndpoint}'
      }
      
      window.__PRELOADED_STATE__ = !{initialState}
    script(src="/build/index.js")
