doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/build/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")


  body
    #app!= appHtml
    script.
      window._config = {
        contractAddress: '!{contractAddress}',
        infuraEndpoint: '!{infuraEndpoint}'
      }
      
      window.__PRELOADED_STATE__ = !{initialState}
    script(src="/build/index.js")
